$primaryColor: #1071ff;
$primaryColorHover: #0f6df5;
$primaryColorFocus: #0e63e0;
$primaryColorActive: #0d5fd6;
$primaryColorDisabled: #f2f2f2;
$primaryColorDisabledText: #bdbdbd;

$secondaryColor: #fff;
$secondaryColorHover: #f6f9ff;
$secondaryColorFocus: #e2eeff;
$secondaryColorActive: #d9e8ff;
$secondaryColorDisabled: #fff;
$secondaryColorDisabledBorder: #f2f2f2;
$secondaryColorDisabledText: #c7c7c7;

$blockColorHover: #f6f6f6;
$blockColorFocus: #e4e4e4;
$blockColorActive: #dcdcdc;

$textColor: #3f3f3f;
$subTextColor: #757575;

$iconSecondaryBcgColor: #fff;
$iconSecondaryBcgColorHover: #f6f6f6;
$iconSecondaryBcgColorFocus: #e4e4e4;
$iconSecondaryBcgColorActive: #dcdcdc;

$iconSecondaryColor: #757575;
$iconSecondaryColorDisabled: #c7c7c7;
